{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "first-nested"
        ],
        "ignoreAtRules": [
          "else",
          "for",
          "if",
          "import"
        ]
      }
    ],
    "at-rule-no-unknown": null,
    "color-hex-case": "lower",
    "color-named": "never",
    "declaration-no-important": true,
    "font-family-name-quotes": "always-where-recommended",
    "function-name-case": [
      "lower",
      {}
    ],
    "function-url-quotes": "always",
    "max-empty-lines": 2,
    "max-nesting-depth": 10,
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": [
          "min-device-pixel-ratio"
        ]
      }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": [
      true,
      {}
    ],
    "selector-type-no-unknown": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "place-items"
        ]
      }
    ],
    "string-quotes": "double",
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": [
          "/font-?family/i"
        ]
      }
    ]
  }
}
